extends ../../layout/app.pug

block content
    project-manager
block styles
    link(rel='stylesheet' href=mix('/css/pages/home.index.css'))

block scripts
    script(defer src=mix("/js/pages/project/index.js"))
