img.nav-bar-logo {
    width: 112px;
    height: 28px;
    background-color: white;
    background-image: url("~@IMAGES/logo.png");
    background-size: 112px 28px;
    background-repeat: no-repeat;
    background-position: center center;
}
