extends ./layout/app.pug

block content
    h1.title
        figure
            img.nav-bar-logo(src='images/logo.png' alt='Logo')
    h2.subtitle
        h1.title.is-1 Hello #{ req.params.name || 'John Doe' }
        h2.subtitle.is-2 Welcome to Ojvar World

block styles
    link(rel='stylesheet' href=mix('/css/pages/home.index.css'))

block scripts
    script(defer src=mix("/js/pages/home/index.js"))
